<noscript>
    You need to enable JavaScript to run this app.
</noscript>
<div class="ui secondary menu">
    <a class="item" href="http://localhost:3000">
        Documenter
    </a>
    <a class="active item">
        Troubleshooter
    </a>
</div>