<html>
    <head>
        <link rel="stylesheet" href="/css/semantic.css"/>
    </head>
    <body>
        <%- include _navigation.ejs %>
        <div class="ui container">
            <table class="ui very basic collapsing celled table" style="width:80%">
            <thead>
                <tr>
                    <th>Tree Name</th>
                    <th>Link to Troubleshooter</th>
                </tr>
            </thead>
                <% for(var i=0; i<treeList.length;i++){ %>
                <tr>
                    <td><%= treeList[i].name %></td>
                    <td><a href=<%= '/trees/'+treeList[i]._id %> >View Troubleshooter</a></td>
                </tr>
            <% } %>
            </table>
        </div>
    </body>
</html>