<html>
<head>
    <link rel="stylesheet" href="/css/semantic.css"/>
</head>
<noscript>
    You need to enable JavaScript to run this app.
</noscript>
<body>
    <%- include _navigation.ejs %>
    <div class="ui container">
        <h1><%= tree.name %></h1>
        <h2 id="section-header"></h2>
        <span id="stack">

        </span>
        <div id="steps">

        </div>
        <span id="buttons">

        </span>
    </div>
    <script>
        var original_decision_tree = <%- tree %>
        original_decision_tree = original_decision_tree.tree_proper;
        var buttons = [];
        var steps = [];
        var stack = [];
        var current_decision_tree = original_decision_tree;
        for (var i = 0; i < Object.keys(current_decision_tree.children).length; i++) {
            console.log(current_decision_tree.children[i]);
            if (current_decision_tree.children[i].children) {
                buttons.push('<button onClick=select(' + i + ')>' + current_decision_tree.children[i].button_text + '</buttons>');
            }
            else {
                if(current_decision_tree.children[i].image){
                    steps.push('<p>' + current_decision_tree.children[i].text + '<br/><img src=\''+ current_decision_tree.children[i].image +'\'></p>')
                }
                else steps.push('<p>' + current_decision_tree.children[i].text + '</p>')

            }
        }
        console.log(steps);
        console.log(buttons);
        var section_header = document.getElementById('section-header');
        section_header.innerHTML = current_decision_tree.text;
        var buttons_node = document.getElementById('buttons');
        buttons.map(button => buttons_node.innerHTML += button);
        var steps_node = document.getElementById('steps');
        steps.map(step => steps_node.innerHTML += step);

        function select(number) {
            stack.push(current_decision_tree.children[number].button_text);
            console.log(stack);
            document.getElementById('buttons').innerHTML = null;
            document.getElementById('steps').innerHTML = null;
            document.getElementById('section_header')=current_decision_tree.children[number].button_text;
            current_decision_tree = current_decision_tree.children[number];
            var buttons = []
            var steps = []
            for (var i = 0; i < current_decision_tree.children.length; i++) {
                if (current_decision_tree.children[i].children != null) {
                    buttons.push('<button onClick=select(' + i + ')>' + current_decision_tree.children[i].button_text + '</buttons>');
                }
                else {
                    steps.push('<p>' + current_decision_tree.children[i].text + '</p>')
                }
            }
            var buttons_node = document.getElementById('buttons');
            buttons.map(button => buttons_node.innerHTML += button);
            var steps_node = document.getElementById('steps');
            steps.map(step => steps_node.innerHTML += step);
        }
    </script>
</body>

</html>