
.question_div{
  border-width: 1px;
  border-color: rgb(158, 158, 158);
  border-style: solid;
  border-radius: 4px;
  padding: 3%;
  margin-top: 2%;
  margin-bottom: 1%;
}
.ui.small.input{
  margin-top: 2%;
  margin-bottom: 2%;
}
